:root {
    --primary: #1a1a1a;
    --accent: #00d4ff;
    --text: #ffffff;
}

body { 
  font-family: 'SF Pro Display', sans-serif; 
  margin: 0; background: var(--primary); 
  color: var(--text);
}

nav { 
  background: #000; 
  padding: 15px; 
  display: flex; 
  justify-content: space-between; 
  position: sticky; 
  top: 0; 
  z-index: 100;
}

nav a { 
  color: white; 
  text-decoration: none; 
  font-weight: bold; 
  margin-left: 15px;
}

.container { padding: 20px; max-width: 1200px; margin: auto; }
.grid-tv { display: grid; grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); gap: 15px; }
.card { background: #333; padding: 10px; border-radius: 8px; text-align: center; cursor: pointer; transition: 0.3s; }
.card:hover { border: 1px solid var(--accent); transform: scale(1.05); }
.card img { width: 100%; border-radius: 5px; }

<!-- News -->
    .feed-container {
      max-width: 1200px;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 20px;
    }

    .feed-item {
      background: none;
      padding: 6px;
      box-shadow: 0 2px 4px rgba(0,0,0,0.1);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .feed-item h3 {
      margin: 0 0 10px;
      font-size: 1.5rem;
    }

    .feed-item a {
      font-family: Montserrat;
      font-weight: 650;
      text-decoration: none;
      color: #fff;
    }

    .feed-item p {
      font-family: Montserrat;
      margin: 0;
      color: #cdcdcd;
      flex-grow: 1;
    }

    .post img {
      border-radius: 14px;
      margin: 0 0 12px
    }

    .feed-item time {
      display: block;
      margin-top: 10px;
      font-size: 0.85rem;
      color: #999;
    }

    @media (max-width: 768px) {
      .feed-container {
        padding: 0px;
        grid-template-columns: 1fr;
      }
    }
